.department-product:focus{
    box-shadow: 0 0 0 1px var(--primaryColor);
    border-radius: 10px;
}
.img-container{
    cursor: pointer;
}
.img-container:hover{
    background-color: rgba(34,25,36,.06);
    transform: translateY(-8px);
    transition: var(--mainTransition);
}
.img-container:hover + h3 {
    color: var(--primaryColor);
}